#! Packet
packet.host = tapir-salto
packet.port = 15060
packet.delay = 0
packet.ttl = 60000

#! Pcap
pcap.directory = /var/lib/tapir
#pcap.device = lo
pcap.bpfFilter = tcp or udp
pcap.spanLength = 65535
pcap.timeoutMillis = 0

#! Disruptor
disruptor.capacity = 32768
disruptor.consumers = 1
